@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

span.menutext {
	font-size:16px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(0, 255, 64)
	
}

a:link {
	text-decoration: none;
	color:aquamarine;
}

a:visited {
	text-decoration:none;
	color:hotpink;
}

a:hover {
	text-decoration: underline;
	color:aquamarine;
}